* {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
body {
    background-image: url(images/background.jpg);
    background-size: 100vw 100vh;
    background-color: purple;
}
main {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1em auto;
    width: 600px;
    border: 2px solid purple;
    border-radius: 1em;
}
img {
    display: block;
    width: 75%;
    margin: 2em auto;
}
.panel {
    background-color: purple;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    display: block;
    color: white;
    text-align: center;
}
button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 0.25em 0.75em;
}
h4 {
    font-family: "Georgia", 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
}
footer {
    display: flex;
    justify-content: center;
}
a > img {
    width: 3em;
    margin: 1em 0.5em;
}
